.root {
    color: #fff;
    display: flex;
    justify-content: center;
    background-color: #0000003e;
    border-radius: 4px;
    padding: 10px 14px;
    cursor: pointer;
    transition: .25s ease opacity;
    margin-bottom: 2vh;
    font-size: 14px;
    align-items: center;

    &:active {
        opacity: 0.6;
    }
}